@import "../../../theme/styles/colors";

#DASHBOARD {
    padding: 20px 0 0 20px;
    display: flex;
    gap: 10px;
    flex-direction: column;

    .top {
        display: flex;
        justify-content: space-evenly;

        .serverstat {
        }

        .log__container {
            width: 900px;

            .logdisplay {
                height: 60vh;
                overflow: auto;
                border-radius: 8px;
                margin: 0 10px 0 0;
                background: $neutral-100;
            }
            .actions {
                margin: 10px 10px 0 0;
                display: flex;
                justify-content: flex-end;
                gap: 10px;
            }
        }
    }

    .bottom {
        background: red;
    }
}
