@import "../../../theme/styles/colors";

#DASHBOARD {
    padding: 40px 20px 20px 40px;
    gap: 50px;
    display: grid;
    grid-template-columns: auto auto;

    .bottom {
        grid-column: 1 / -1;
    }
}
