@import "../../../theme/styles/colors";

.active__button {
    color: $white;
    background: $primary-base;
}
.non__active-button {
    color: $neutral-500;
    background: $white;
}

#SIDEBARBUTTON {
    display: flex;
    align-items: center;
    height: 20px;
    user-select: none;
    font-size: 16px;
    font-weight: 500;
    border-radius: 12px;
    gap: 12px;
    padding: 12px;
    cursor: pointer;

    .button__icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &:hover {
        background: $neutral-200;
    }
}
