@import "../../theme/styles/colors";

.SERVERDISPLAY {
    // background: red;

    .actions {
        background: pink;
    }
}

.TABLE {
    // background: yellow;

    .cell__status-online {
        color: green;
    }
    .cell__status-offline {
        color: red;
        // color: $danger-base;
    }
    .header {
        background: $neutral-100;
        // color: $white;
    }
}
