@import "../../theme/styles/colors";

.SERVERDISPLAY {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.TABLE {
    .cell__status-online {
        color: green;
    }
    .cell__status-offline {
        color: red;
    }
    .header {
        background: $neutral-100;
    }
}

.ACTIONS {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    // padding: 10px 40px 10px 20px;
}
